:root {
    --green: #14a160;
    --green-bg: #28c9b0;
    --white: #fafafa;
    --yellow: #ffcf00;
    --black: #000;
}


.navbar-list li a:hover{
    transition: all 200ms ease-in;
    color: var(--yellow);
}